service vendor.custom-fastboot /system/bin/hw/android.hardware.fastboot-service.custom_recovery
    class hal
    seclabel u:r:hal_fastboot_default:s0
    user root
    group root
    interface aidl android.hardware.fastboot.IFastboot/default
